@page
@model DigitalCards.Pages.ConfirmationModel
@{
}

<h1>Order Confirmation</h1>

<p>Your order has been successfully placed!</p>

<p>Confirmation Number: @Model.ConfirmationNumber</p>

<p>Thank you for shopping with us.</p>

<a asp-page="/Index" class="btn btn-outline-dark">Continue Shopping</a>